body {
  background-color: #0000FF;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: white;
  color: #0000FF;
}

.dropdown, label, input, .duration-container {
  margin: 20px 0;
}

select, input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.duration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#confirmationMessage {
  margin-top: 20px;
  font-size: 18px;
  color: lightgreen;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
